doctype html
html
  head
    title My App

  body
    div#root
    script.
      window.__INITIAL_DATA__ = !{JSON.stringify({ message: "Hello from Pug!" })}
    script(src="/assets/index-B2o6yT8p.js")

